.logo {
    max-width: 100%;
    height: auto;
    display: block;
}

.content {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    padding: 3rem;
    border: 2px solid #00b5cc;
    background: rgba(0, 0, 0, 0.4);
    animation: glow-pulse 2s ease-in-out infinite alternate;
}

@keyframes glow-pulse {
    from {
        box-shadow: 0 0 5px #b2df28;
    }
    to {
        box-shadow: 
            0 0 10px #b2df28,
            0 0 20px #b2df28,
            0 0 30px #b2df28;
    }
}

.buttonContainer {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

.playButton {
    padding: 2rem;
    color: white;
    border-radius: 1rem;
    font-size: xx-large;
    border: 2px solid #00b5cc;
    border-radius: 8px;
    background: rgba(0, 0, 0, 0.3);
    transition: all 0.2s ease;
    cursor: pointer;   
}

.playButton:hover {
    box-shadow: 
        0 0 10px #b2df28,
        0 0 20px #b2df28,
        0 0 30px #b2df28,
        0 0 40px #b2df28;
    transform: scale(1.02);
}